.cloud-img-div{
  position: absolute;
  top: 0px;
  text-align: center;
}



.cloud-img{
    height: 100px;
    width: 500px;
    z-index: 1;
    
 }


 .barish-div{
     text-align: center;
  height: 20px;
    width: 90%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-top: 5px;
    background-color: aquamarine;
 }

 .cloudContainer{
    background-color: aquamarine;
    overflow: hidden
}




body {
    margin: 0;
    overflow: hidden;
    background: #061928;
  }
